[ubuntu_discord]
additional_packages=git libasound2 libatomic1 libgconf-2-4 libnotify4 libnspr4 libnss3 libxss1 libxtst6 libc++1
image=ubuntu:latest
init=false
nvidia=true
pull=true
root=false
replace=true
start_now=true